/**
    Reset
 */
html, body {
    max-height: 464px;
    overflow: hidden;
}
body {
    font-family: "Roboto Sans", Helvetica, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    display: flex;
}
* {
    box-sizing: border-box;
}
/**
    Layout
 */
.wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
}

/**
    Utility
 */
.hide {
    display: none;
    visibility: hidden;
}

.show {
    display: block;
    visibility: visible;
}

/**
    Header
 */
.popupheader {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px 10px 20px;
    z-index: 1000;

    background-color: #fff;
}
.tabfilter {
    padding: 17px 0 7px 0;
}
.tabfilter #resetButton {
    position: absolute;
    right: 24px;
    top: 61px;
    height: 25px;
    width: 25px;
    padding: 0;
    background: transparent;
    border: solid 2px #efefef;
}
.tabfilter input[type='text'] {
    border: 2px solid #999;
    padding: 5px;
    line-height: 1.2em;
    font-size: 100%;

    width: 100%;
}
.tabfilter input:focus,
.tabfilter #resetButton:focus {
    outline: none;
    border: solid 2px #1194F6;
}
h2 {
    font-size: 1.5em;
}
/**
    Content
 */
.tablist {
    overflow-y: auto;
}
.tablist ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.tablist ul li {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.tablist ul li:first-of-type {
    border-top: none;
}
.tablist ul > li.window-break {
    height: 10px;
    background-color: #fff;
}
.tablist ul > li.window-break div {
    width: 100%;
    height: 1px;
}

.windowbox {
    border-left: solid 3px #787878;
    padding-left: 15px;
    margin-top: 15px;
}