/**
    Reset
 */
html, body {
    height: 464px;
    overflow: hidden;
}
body {
    font-family: "Roboto Sans", Helvetica, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    display: flex;
}
* {
    box-sizing: border-box;
}
/**
    Layout
 */
.wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
}

/**
    Utility
 */
.hide {
    display: none;
    visibility: hidden;
}

.show {
    display: block;
    visibility: visible;
}

/**
    Header
 */
.popupheader {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px 10px 20px;
    z-index: 1000;

    background-color: #fff;
}
.tabfilter {
    padding: 17px 0 7px 0;
}
.tabfilter #resetButton {
    position: absolute;
    right: 24px;
    top: 61px;
    height: 25px;
    width: 25px;
    padding: 0;
    background: transparent;
    border: solid 2px #efefef;
}
.tabfilter input[type='text'] {
    border: 2px solid #999;
    padding: 5px;
    line-height: 1.2em;
    font-size: 100%;

    width: 100%;
}
.tabfilter input:focus,
.tabfilter #resetButton:focus {
    outline: none;
    border: solid 2px #1194F6;
}
.lbltxt {
    margin-right: 20px;
    margin-left: 7px;
    color: #787878;
    font-size: 75%;
    text-transform: uppercase;
}
h2 {
    font-size: 1.5em;
}

/**
    Content
 */
.tablist {
    overflow-y: scroll;
}
.tablist button {
    display: flex;
    padding: 11px 21px 11px 7px;
    margin: 0;
    font-size: .75em;
    width: 100%;
    border: none;
    text-align: left;
    cursor: pointer;
    background-color: #F5F5F5;
    box-shadow: inset 0 0 0 0 #F5F5F5;
    transition: box-shadow .33s;
}
.tablist button:hover,
.tablist button:focus {
    background-color: #fff;
}
.tablist button:focus {
    outline: none;
    box-shadow: inset 0 0 0 3px rgba(17,148,246,1);
    z-index: 10000;
}
.tablist a:focus {
    outline: none;
    border: solid 2px #1194F6;
}
.tablist span.favicon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.tablist button img {
    width: 15px;
    height: 15px;
}
.tablist ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.tablist ul li {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.tablist ul li:first-of-type {
    border-top: none;
}
.tablist ul > li > a,
.tablist ul > li > a:visited {
    color: blue;
    text-decoration: none;
}
.tablist ul > li.histItem:hover {
    background-color: #fff;
}
.tablist ul > li.histItem {
    font-size: .85em;
    padding: 11px 21px 11px 7px;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}
.tablist ul > li.histItem div {
    font-size: 85%;
    margin-top: 3px;
    color: #787878;
}

.tablist ul > li.window-break {
    height: 10px;
    background-color: #fff;
}

.tablist ul > li.window-break div {
    width: 100%;
    height: 1px;
}


.windowbox {
    border-left: solid 3px #787878;
    padding-left: 15px;
    margin-top: 15px;
}

#note {
    /*padding: 11px 21px 11px 7px;*/
    border-bottom: 1px solid rgba(0,0,0,0.1);
    transition: all 0.8s;
}

.notif {
    padding: 11px 21px 11px 7px;
    font-size: .85em;
    width: 100%;
    display: block;
    /*border-bottom: 1px solid rgba(0,0,0,0.4);*/
}

.pullright  {
    display: inline-block;
    width: 50%;
    text-align: right;
}

.pullleft {
    display: inline-block;
    width: 50%;
    text-align: left;
}

.notif .subtext {
    padding-top: 10px;
    font-size: 85%;
    color: #6a6b6c;
}

.notif .subtext.pullright {
    padding-top: 4px;
}

/**
* For accessible alerts and notifications
*/
.accessibilityText {
    height: 0;
    width: 0;
    text-indent: -99999px;
}